 body {
      font-family: Georgia, serif;
      size: 1.5em;
      background-color: #f5d313;
      text-align: center; 
      padding-top: 80px;
      max-width: 1200px;
    }

#opening {
    background-color: white;
}

    header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      font-size: 3em;
    }   

    p, video, audio {
      margin-top: 20px;
      margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
    }
   
    #ivanVideo {
     border-radius:0px 0px 0px 0px;
    }

#myVideo {
    border: 2px solid cornflowerblue;
}


#audio1 {
  margin-top: 100px;
  margin-bottom: 25px;
  background-color: #A2B5CD;
  border: 4px solid steelblue;
  padding: 35px;
  border-radius: 5px 25px ;
}

#navigation {
  height: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}


 a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


a:hover {
  border-bottom: 2px solid midnightblue;
 
}

a:active {
   border-bottom: 4px solid midnightblue;
}



ul {
  list-style: none;
  text-align: center;
   
}

li {
  display: inline;
 /*float: left;*/
  padding: 30px 15px 1px 15px;
  

}


.menu-item-current {
     border-bottom: 3px cornflowerblue solid;
}