

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", sans-serif;
    font-weight: 400;  

}


}

body {
    font-family: Georgia,sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: auto;
    max-width: 800px;
    padding: 25px;
 
}



.container-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
 width: 95%;
padding-top: 25px;
padding-bottom: 25px;
max-width: 1500px;
}

.project-item {
  flex-grow: 1;
  height: 150px;
  width: 250px;
  margin: auto;
  /* see: https://www.colorhexa.com/993300
  lost the blue - #1f273a */
  background-color: black;
  text-align: left;
  border: 6px solid white;
}

.project-label { 
  
  padding-left: 15px;
  color: white;
  border-left: 7px solid #fdb825;
  margin-left: 0px;
}


dfn {
	;
}


	canvas {
      /* starting color = #993300 
         then #3a496c             */
		background-color: #660000;
		margin-bottom: 10px;
		max-width: 95%;
		min-height: 200px;
		margin-left: 20px;
	    margin-right: auto;
	}


footer {padding-top: 30px;
padding-bottom: 15px;
}