* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    margin: 0 auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: .5rem;
    line-height: 1.1;
    color: white;

}





h2 {
    font-family: 'Montserrat', sans-serif;
    color: #2d4c6b;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}





h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2d4c6b;
}



.hero-text {
    font-weight: 500;

}

p,
a,
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1125rem;
    line-height: 1.8rem;

}





.button {
    background-color: #CA4948;

    transition: .2s;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1em 3em;

    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.1rem;
    color: white;

}

 .value-1 h2 {
    color: #CA4948;
    font-size: 2.7rem;
    margin-top: 1em;
  
} 



.container-page {
    width: 85%;
    margin: 0 auto;
    max-width: 800px;
}



.container-flex {
    display: flex;
    gap: 4em;


}

.date {
    color: #CA4948;
    font-weight: 800;
}

h1,
h2,
h3,
p {
    max-width: 54ch;
}





.hero {
    background-color: #2D4C6B;
    padding-top: 1em;
    padding-bottom: 2em;
    color: white;
}




.lucia .flex-container {
    flex-wrap: wrap;
}

.starry .flex-container {
    flex-wrap: wrap;
}


.lucia {
    margin-top: 1em;



}

.starry {
     margin-top: 2em; 
}

/* footer {
    background-color: black;
    color: white;
    padding-top: 0em;
    padding-bottom: 4em;
} */