* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2d4c6b;
}

h1 {
    font-size: 2rem;
    line-height: 1.1;
    color: white;

}

.hero-text {
    font-weight: 500;

}

p,
a,
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1125rem;
    line-height: 1.8rem;

}


h2 {
    font-size: 1.5rem;
    border-bottom: 0;

}



.button {
    background-color: #CA4948;

    transition: .2s;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1em 3em;

    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.1rem;
    color: white;

}

.value-1 h2 {
    color: #CA4948;
    font-size: 2.7rem;
    margin-top: 1em;
    padding-bottom: 0em;
    margin-bottom: 0em;
}



.container-page {
    width: 85%;
    margin: 0 auto;
    max-width: 800px;
}



.container-flex {
    display: flex;
    gap: 4em;


}

.hero {
    background-color: #2D4C6B;
    padding-top: 1em;
    padding-bottom: 2em;
    color: white;
}

h1,
h2,
h3,
p {
    max-width: 54ch;
}

h1 {
    /* padding-top: 50px; */
    letter-spacing: 1.5px;
    font-size: 3rem;
    font-weight: 400;


}

.date {
    color: #CA4948;
    font-weight: 800;
}


.value-2 .flex-container {
    flex-wrap: wrap;
}

.value-3 .flex-container {
    flex-wrap: wrap;
}




.value-2 {
    margin-top: 1em;
    margin-bottom: 4rem;


}

.value-3 {
    margin-top: 2em;
}

/* footer {
    background-color: black;
    color: white;
    padding-top: 0em;
    padding-bottom: 4em;
} */